{% extends 'home/base.html' %}
{% load static %}


{% block title %}: My Home page {% endblock title %}
{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <img src="{% static '/image/g-man.png' %}" width="300"><br><br>
      <h1 class="display-4 fw-normal">Thanawat </h1>
      <p class="fs-5 text-muted">My name is Thanawat supornpradit , i graduated with a bachelor's degree in Major information technology from Mahasarakham University , During my last summer vacation , i interned at TOT Public company Khonkaen Provincei am interested to apply for this position because i am confident that my experience in Programming will prove to be a suitable match for your needs.
      </p>
 </div>
      
{% endblock content %}





